---
name: AddMan
version: 2.0.3
slug: addman
description: AddMan installs and configures add-ons.
url: https://github.com/dadav/hass-addon-addman/tree/main/addman
init: false
hassio_api: true
hassio_role: manager
panel_icon: home-floor-a
map:
  - type: addons
    read_only: false
  - type: all_addon_configs
    read_only: false
  - type: homeassistant_config
    read_only: false
    path: /config
arch:
  - aarch64
  - amd64
options:
  check_interval: 600
  check_updates_x_iterations: 6
  config_file: /config/addman.yaml
  log_level: info
  watch_config_changes: false
  dry_run: false
  auto_uninstall: true
  health_check_timeout: 10
schema:
  check_interval: int(1,)
  check_updates_x_iterations: int(0,)
  config_file: str
  log_level: list(trace|debug|info|notice|warning|error|fatal)
  watch_config_changes: bool
  dry_run: bool
  auto_uninstall: bool
  health_check_timeout: int(1,60)
image: ghcr.io/dadav/{arch}-addon-addman
